.registration-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto; 
  margin: auto;
}

.registration-input {
  margin-bottom: 20px; 
  padding: 5px;
  height: 30px;
}

.registration-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}
