.running-plans-container {
    position: relative;
    min-height: calc(100vh - 60px);
    background-color: #302e2d;
    padding: 20px;
}

.map-container {
    width: 100%;
    height: calc(50vh - 100px);
    border: 2px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
}

.cards-and-filters {
    display: flex;
    flex-direction: column;
    
}

.filter-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust margin to create space */
}

.btn--primary {
    background-color: var(--primary);
    color: #302e2d;
    border: 1px solid var(--primary);
    font-weight: bold;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--large {
    padding: 12px 26px;
    font-size: 25px;
}

.btn--large:hover,
.btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #302e2d;
    transition: 250ms;
}

.cards {
    padding: 3rem;
    background: #302e2d;
    margin-bottom: -20px;
}
.pagination {
    display: flex;
    list-style: none;
    gap: 10px; /* Adjust the gap between pagination buttons */
    justify-content: center; /* Center the pagination buttons */
    margin: 0;
    padding: 0;
}

.page-item {
    display: inline-block;
}

.page-link {
    color: #fff;
    background-color: #302e2d;
    border: 1px solid #ccc;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.page-link:hover {
    background-color: #fff;
    color: #302e2d;
}